body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #888; /* Fondo gris */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.notebook {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background: #777; /* Color gris del cuaderno */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.divider {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: black;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.8s ease-in-out;
}

.page:not(.active) {
    display: none;
}

.columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

ul {
    list-style-type: none;
    font-size: 14px; /* Fuente más pequeña */
    font-weight: bold;
    padding: 0;
}

li {
    margin: 5px 0;
}

button {
    padding: 6px 10px; /* Botones más pequeños */
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #d2691e;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #a0522d;
}
